{% extends 'base.html.twig' %}

{% block title %} Commande {% endblock %}

{% block content %}
    <div>
        <h1> Visualiser ma commande </h1>
        <div class="row"> 
            <div class="col-md-6"> 
                <p> Choisir mon adresse de livraison </p>
                <p> Choisir mon livreur </p>
            </div>
            <div class="col-md-6"> 
                <p> Récapitulatif de ma commande </p>
                <a href="#" class="btn btn-primary"> Valider </a>
            </div>

        </div>
    </div>

{% endblock %}
